body {
    background-color:black;
}

td {
    color:black ;
    text-align:center;
}

td {
    font-family: Times New Roman;
    font-size: 20px;
	text-align:center;
} 

th {
    color:black;
    text-align:center;
	font-size:25px;
}	


caption {
    color:blue;
	text-align:center;
    font-size:30px;

} 

div { 
    background-color: black;
    padding: 0;
    border: 1px solid black;
    margin: 0;
  }
th { 
    background-color: blue;
 
    padding: 1em;
    border-width: 1px; 
    border-style: solid;
    border-color:white;
    margin: 10px !important;
   }   
  div { 
    background-color: black;
    padding: 0;
    border: 1px solid black;
    margin: 0;
  }
td { 
    background-color:blue;
 
    padding: 1em;
    border-width: 1px; 
    border-style: solid;
    border-color:;
    margin: 10px !important;
   }   
head { 
	 color:blue;
	 text-align:center;
	 font-size:50px;
}
hr {
border:	







































